@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

/* 
font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif; */

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center; /* Vertically  */
  align-items: center; /* horizontally */
  /* text-align: center; */
  background-color: hsl(0, 0%, 98%);
  position: relative;
}

body > img {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 15%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-family: "DM Serif Display", serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 28px;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 13px;
  font-weight: 400;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
}

button {
  width: 13%;
  height: 40px;
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  border: 2px solid hsl(0, 0%, 98%);
  margin-top: 10px;
}

button:active {
  background-color: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
  border: 2px solid hsl(256, 26%, 20%);
}

nav {
  background-color: hsl(0, 0%, 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

nav div img {
  /* background-color: palevioletred; */
  align-content: center;
}
nav div:last-of-type {
  /* background-color: salmon; */
  display: flex;
  width: 60%;
  height: 80px;
  /* justify-content: space-between; */
  /* gap: 30px; */
  /* padding: 20px 0px 20px 20px; */
}

nav div:last-of-type ul {
  width: 60%;
  margin: 0;
  display: flex;
  list-style-type: none;
  /* background-color: slategray; */

  /* padding: 14px 16px; */
}

nav div:last-of-type ul li {
  margin: auto;
  padding: 10px;
}

nav div:last-of-type ul li:active {
  background-color: hsl(273, 4%, 51%);
  width: fit-content;
  color: hsl(0, 0%, 98%);
}

nav div:last-of-type ul li:hover {
  background-color: hsl(270, 9%, 17%);
  width: fit-content;
  color: hsl(0, 0%, 98%);
}

nav div:last-of-type button {
  justify-content: center;
  margin: auto 0 auto auto;
  width: 25%;
  height: 35px;
  font-size: 12px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
  border: 1.5px solid hsl(256, 26%, 20%);
  cursor: pointer;
}

nav div:last-of-type button:active {
  background-color: hsl(270, 9%, 17%);
  color: hsl(0, 0%, 98%);
  border: 2px solid hsl(0, 0%, 98%);
}

.container {
  width: 100%;
  background-color: hsl(256, 26%, 20%);
  align-items: center;
  position: relative;
  padding-bottom: 5%;
}

.moreDiv {
  position: relative;
}

.container .introRight{
    position: absolute;
    right: 0;
    top: 0;
    height: 350px;
    overflow: hidden;
}

.moreDiv .moreDivImg{
    background-color: transparent;
    position: absolute;
    top: 50%;
    width: 200px;
}
.hero {
  width: 80%;
  /* height: 400px; */
  margin: auto;
  /* background-color: transparent; */
  color: hsl(0, 0%, 98%);
  /* height: 450px; */
  padding-top: 5%;
  padding-bottom: 8%;
  position: relative;
}


.hero img {
  position: absolute;
  right: 0;
  height: 450px;
}

.hr1 {
  width: 12vw;
  position: absolute;
  color: hsl(0, 0%, 98%);
  width: 15vw;
  opacity: 0.4;
  /* border: 1px solid saddlebrown; */
}
.hero article {
  background-color: transparent;
  /* background-color: sandybrown; */
  width: 50%;
  padding: 30px 20px 0px 0px;
  /* border: 2px solid brown; */
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  clear: both;
}

.hero article h1 {
  width: 60%;
  /* margin-bottom: 0;
    line-height: 28px; */
  /* background-color: red; */
}
.hero article p {
  line-height: 20px;
}

body > img {
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 78px;
  height: 78px;
  overflow: hidden;
  text-indent: -999px;
  background: url(images/bg-pattern-intro-left-desktop.svg);
}

main {
  width: 80%;
  margin: 0;
  padding: 0;
  /* background-color: aquamarine; */
}

.different {
  position: relative;
  /* padding: 10px; */
  padding-top: 10%;
  padding-bottom: 8%;
  margin: 0;
  /* padding: 10px 0px; */
  /* background-color: salmon; */
}

.hr2 {
  position: absolute;
  margin-bottom: 20px;
  color: hsl(270, 9%, 17%);
  width: 15vw;
  /* border: 1.5px solid red; */
}

.different h2 {
  margin-top: 20px;
  padding: 30px 20px 0px 0px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 0;
}

.card {
  justify-content: space-between;
  /* background-color: palevioletred; */
  padding-right: 30px;
  width: 35%;
}
.different .cards .card img {
  /* background-color: blue; */
  margin-top: 20px;
  height: 70px;
  width: 70px;
}
.different .cards .card h4 {
  margin: 0;
  padding: 20px 0px;
}

.more {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  background-color: hsl(270, 9%, 17%);
  color: hsl(0, 0%, 98%);
  position: relative;
}

.more section {
  margin: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  /* background-color: salmon; */
  width: 80%;
}
.more h3 {
  /* background-color: blueviolet; */
  text-align: left;
  width: 45%;
  align-items: center;
  justify-content: center;
}

.more button {
  width: 20%;
  align-items: center;
  cursor: pointer;
}

.more img {
  position: absolute;
  right: 0;
  top: 0;
  height: 165px;
  overflow: hidden;
  /* background: url(images/bg-pattern-how-we-work-desktop.svg); */
}

footer {
  margin: 0;
  /* padding: 20px; */
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  align-items: center;
  position: relative;
}

footer > img {
  position: absolute;
  /* background-color: brown; */
  width: 40%;
}

footerContainer {
  width: 80%;
}

footer div hr {
  border: 1px solid hsl(270, 9%, 17%);
  opacity: 0.4;
  width: 80%;
}

footer hr {
  /* width: 80%; */
}

navFooter {
  /* background-color: violet; */
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

navLogo {
  /* background-color: pink; */
  /* width: 50%; */
  padding: 20px;
}

navIcons {
  /* background-color: red; */
  /* padding: 20px; */
}

navIcon {
  padding: 15px 0px 15px 15px;
}

footerLists {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

footerLists footerList ul {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  opacity: 0.7;
}

footerLists footerList ul .title {
  margin-bottom: 20px;
  opacity: 0.4;
  /* padding-bottom: 20px; */
  /* background-color: red; */
}
